
<div *ngIf="!showEdit" style="cursor: pointer; cursor: hand; margin-top: 5px" (click)="showDetails = !showDetails; auctionSelected()">{{name}}</div>
<div style="font-weight: bold; margin: 5px" *ngIf="showDetails">
    {{name}} {{price}} $
    <span style="cursor: pointer; cursor: hand;" class="glyphicon glyphicon-pencil" (click)="showDetails = !showDetails; showEdit = !showEdit"></span>
    <span style="cursor: pointer; cursor: hand;" class="glyphicon glyphicon-trash"  (click)="deleteAuction()"></span>
</div>

<div *ngIf="showEdit">
    <form class="form-inline" [formGroup]="editForm" (ngSubmit)="updateAuction(editForm.value)">
    <div class="form-group">
        <input type="text" [formControl]="editName">
    </div>
    <div class="form-group">
        <input type="text" [formControl]="editPrice">
    </div>
    <button type="submit">Save</button>
    <button (click)="showEdit = !showEdit">Cancel</button>
    </form>
</div>

